[Unit]
Description=Streamlit Application
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ec2-user/bbs
ExecStart=/home/ec2-user/bbs/venv/bin/streamlit run app.py
Restart = on-failure

[Install]
WantedBy=default.target
